<div "container text-center">
    <div class="starsbarstopper">
        <img src="./images/sceneittoo_sceneit.png" alt=""/>
    </div>
</div>
    <div class="minninav">
        <a class="btn btn btn-outline-warning round" a href="/search.html" role="button">SEARCH</a>
        <a class="btn btn btn-warning disabled round" href="/sceneItList" role="button">SCENE IT</a>
        <a class="btn btn btn-outline-warning round" href="/aintsceneit" class="link" role="button">AIN'T SCENE IT YET</a>
        <a class="btn btn btn-outline-warning round" href="/about.html" role="button">ABOUT</a>
    </div>
</div>

<div class="row">
    <div class="col-12 results">
        <div class="movies-container">
            {{#each usermovies}}
                <div class="card box-space";>
                    <img class="card-img-top" src="{{Movie.poster}}" alt="Movie Poster">
                    <div class="card-body">
                    <p class="adge badge-dark inline">{{Movie.released}}</p>
                    <h5 class="card-title">{{Movie.title}}</h5>
                    <button data-id="'+ currentMovie.imdbID +'" class="btn btn-warning littleSpace round">Remove</button>
                    <button data-id="'+ currentMovie.imdbID +'" class="btn btn-warning littleSpace round">Ain't Scene It</button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>