
{{#if isLoggedIn}}
<div "container text-center">
    <div class="starsbarstopper">
        <img class="littleFit" src="./images/fitz.png" alt=""/>
    </div>
</div>
    <div class="row">
        <div class="loginbutton">
            <a class="bbtn btn-warning btn-lg btn-block round" href="/search.html" role="button">SEARCH MOVIES</a>
            <h4 class="col-12 search hFourSubhead ">Welcome back!</h4>
        </div>
    </div>

</div>

{{/if}}

{{#unless isLoggedIn}}
	<div class="fitzlogin">
		<img src="./images/sceneittoo.png"/>
    </div>
    <div class="loginbutton">
		<a class="bbtn btn-warning btn-lg btn-block round" href="/login/github" role="button">LOGIN</a>
    </div>
{{/unless}}