<h1>login.hbs</h1>
<p>Greetings Fellow Earthling {{title}}</p>

{{#if isLoggedIn}}
<a href="../public/search.html">go to search</a>
<br>
<a href="/logout">logout</a>
{{/if}}

{{#unless isLoggedIn}}
<a href="/login/github">login With GitHub</a>
{{/unless}}

<h6>I'm the login.hbs</h6>