<h1>{{title}}</h1>
<div class="sceneIt">
    <span><h2>{{username}}</h2></span>

    <h3>Movies</h3>
        {{#each usermovies}}
            <button type="button" class="btn btn-primary">{{#if usermovies}}Ain't Scene{{#else}}Scene It{{/if}}</button>
            <button type="button" class="btn btn-primary">Scene It</button>
        {{/each}}
</div>

<button type="button" class="btn btn-primary">Ain't Scene</button>
<button type="button" class="btn btn-primary">Scene It</button>


