body {
	color: #fff;
	background-image: linear-gradient(to right bottom, #051937, #002f4f, #004665, #005e78, #007789);
	/* background-color: #051937; */
	font-family: 'Roboto', sans-serif;
	margin-top: 60px;
}

.header h3 {
	color: #fff;
	font-weight: 600;
}

.header h4 {
	line-height: 2em;
	margin-bottom: 30px;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: none;
	width: 255px;
	border-radius: 4px;
}

.card-title {
	margin-top: 8px;
	margin-bottom: 48px;
}

.box-space {
	margin: 10px;
}

.movies-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.btn-primary {
	position: absolute;
	bottom: 20px;
}

.btn-danger {
	position: absolute;
	bottom: 20px;
}

.btn-warning {
	color: #fff;
	border: none;
}

.fill {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	max-height: 363px;
	border-radius: 4px 4px 0 0;

}
.fill img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%
}