
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
    font-family: 'Roboto', sans-serif;
    background-color: #003b46;
    text-align: center;
    margin-top: 60px;
}

.fitzlogin {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.littleFitz {
    width: 100px;
    margin: 50px;
}

.fitzlogin img {
    min-width: 500px;
    max-width: 700px;
}

.fitztopper {
    margin-top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fitztopper img {
    min-width: 300px;
    max-width: 500px;
}

.starsbarstopper {
    margin-top: -60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starsbarstopper img {
    width: 370px;
    max-width: 400px;
}

.about {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginbutton {
    min-width: 280px;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    padding: 0 30px;
    position: relative;
}

.minninav {
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.btn {
    padding: 8px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 8px;
    font-weight: 700;
}

.littleSpace {
    margin: 8px;
}

.btn.disabled, .btn:disabled {
    color: #333;
    background-color: #FFAB32;
    border-color: #FFAB32;

}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-warning {
    background: #FFAB32;
    color: #333;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    background: #FF8332;
    color: #fff;
}

.btn-warning:active, .btn-warning.active {
    background: #FF8332;
    box-shadow: none;
    color: #fff;
}

.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active, .btn-outline-warning.active, .open > .dropdown-toggle.btn-outline-warning {
    background: #FF8332;
    color: #fff;
}

.btn-outline-warning:active, .btn-outline-warning.active {
    background: #FF8332;
    box-shadow: none;
    color: #fff;
}

.btn-primary {
    margin: 4px;
}
.round {
	border-radius: 54px;
}

.search {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.hFourSubhead {
    color: #fff;
    margin-bottom: 40px;
    margin-top: 20px;
}

.sectionHeader {
    color: #fff; /* Fallback for older browsers */
    color: rgba(255, 255, 255, 0.5);
    display: block;

}

.results {
	margin-top: 20px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: none;
	width: 255px;
	border-radius: 4px;
}

.card-title {
	margin-top: 8px;
	margin-bottom: 48px;
}

.box-space {
	margin: 10px;
}

.movies-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-content: center;
}

.movies-container2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.fill {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	max-height: 363px;
	border-radius: 4px 4px 0 0;

}
.fill img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%
}

